.card {
  color: inherit;
  text-decoration: none;
  padding: 24px;
  background-color: #1c1c21;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}
.card__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
.card__ingredients {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.card__pricebox {
  width: 100%;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.card__status_done {
  color: #0cc;
}

.card__status_canselled {
  color: red;
}
