.header {
  background-color: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  position: absolute;
	z-index: 999;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.link:last-of-type {
  margin-right: 0;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: 40px;
	color: #8585AD;
	text-decoration: none;
	transition: all .3s ease;
}

.link_active {
	color: white;
}

.link:hover {
	box-shadow: 0px 0px 4px 0px #FFFFFF40;
}

.link_active svg {
	fill: white;
}

.linkText {
  display: "inline-block";
}

.logo {
  position: absolute;
  align-self: center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
